.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  align-items: center;
}

.orders-heading {
  color: tomato;
}

.orders-list{
  list-style: none;
  background-color: rgb(188, 187, 187);
  padding: 10px;
  margin: 10px;
}

.dashboard-title {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
  align-items: center;
  color: black;
  font-size: max(1vw, 12px);
  margin-bottom: 10px;
}

.dashboard-items-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
  border-radius: 10px;
  align-items: center;
  font-size: max(1vw, 12px);
}

.remove-button {
  cursor: pointer;
}

select{
  padding:10px 50px;
  border-radius: 10px;
  text-align: center;
}



